In [1]:
import pandas as pd

In [10]:
d = pd.read_csv('../huanan-env-paper-private/data/sample_metadata/Liu_etal_2023_market_samples_locations.csv')
m = pd.read_csv('../huanan-env-paper-private/data/sample_metadata/SRA_run_info_acc_Apr16.tsv', sep="\t")

## Sample types: overview

In [70]:
d.Sample_location.value_counts()

West                                      718
East                                      101
Sewerage well in the surrounding areas     51
Warehouse                                  14
Sewage well close to HSM                    9
Name: Sample_location, dtype: int64

In [29]:
## Sequencing types
m.Sample_category.value_counts()

market_stall_wildlife         50
market_west_Jan1              28
market_825_late               15
non_market_sewage             10
market_west_late              10
market_629_late               10
market_629_Jan12              10
market_825                    10
market_sewage_west             9
market_west_drain              9
single_end_duplicate           7
market_sewage_east             5
warehouse                      3
market_east_drain              3
market_east_late               2
market_east_Jan1               2
market_stall_wildlife_late     1
Name: Sample_category, dtype: int64

## January 1 and January 12 trips

In [36]:
## First sampling trip: samples, stalls, positives, sequenced positives

jan1 = d.query("`Sampling.date` == '2020-01-01'")
print("{} Total January 1 samples".format(jan1.shape[0]))
jan1_pos = jan1.query("`SARS.CoV.2.qPCR.result` == 'Positive'")
print("{} Total January 1 Positives".format(jan1_pos.shape[0]))
print("{} Total January 1 stalls".format(jan1.Stall_corrected.unique().shape[0]))
print("{} Total January 1 merged stalls".format(jan1.Stall_corrected_merged.unique().shape[0]))

## Jan 1 samples which were sequenced
print("{} total January 1 samples sequenced".format(jan1[~jan1.Sequencing_Run.isna()].shape[0]))

515 Total January 1 samples
27 Total January 1 Positives
129 Total January 1 stalls
120 Total January 1 merged stalls
25 total January 1 samples sequenced

In [37]:
## Second sampling trip: samples, stalls, and sequenced negatives / positives

jan12 = d.query("`Sampling.date` == '2020-01-12'")
print("{} Total January 12 samples".format(jan12.shape[0]))
jan12_pos = jan12.query("`SARS.CoV.2.qPCR.result` == 'Positive'")
print("{} Total January 12 Positives".format(jan12_pos.shape[0]))
print("{} Total January 12 stalls".format(jan12.Stall_corrected.unique().shape[0]))
print("{} Total January 12 merged stalls".format(jan12.Stall_corrected_merged.unique().shape[0]))

## Jan 12 samples which were sequenced
print("{} total January 1 samples sequenced".format(jan12[~jan12.Sequencing_Run.isna()].shape[0]))

70 Total January 12 samples
6 Total January 12 Positives
7 Total January 12 stalls
7 Total January 12 merged stalls
70 total January 1 samples sequenced

In [38]:
## Jan 12 positive samples 
jan12_pos

,Lab.code,Sample.ID,Sequencing_Run,Sampling.date,Sample_location,Street.No.,Vendor.No.,edge_case,Stall_corrected,address,Stall_corrected_merged,Sample.type,Sample.information,SARS.CoV.2.qPCR.result,Precise.location,FromHSM
784,Q37,Env_0552,SRR23971448,2020-01-12,West,8,25,NaN,West|8|25,West|8|25,West|8|25,Environmental swab,Inner surface of the freezer,Positive,1,True
785,Q61,Env_0576,SRR23971449,2020-01-12,West,6,29-31-33,NaN,West|6|29-31-33,West|6|29-31-33,West|6|29-31-33,Environmental swab,Cart1,Positive,1,True
786,Q64,Env_0579,SRR23971450,2020-01-12,West,6,29-31-33,NaN,West|6|29-31-33,West|6|29-31-33,West|6|29-31-33,Environmental swab,Cart2,Positive,1,True
787,Q68,Env_0583,SRR23971451,2020-01-12,West,6,29-31-33,NaN,West|6|29-31-33,West|6|29-31-33,West|6|29-31-33,Environmental swab,Ground,Positive,1,True
788,Q69,Env_0584,SRR23971453,2020-01-12,West,6,29-31-33,NaN,West|6|29-31-33,West|6|29-31-33,West|6|29-31-33,Environmental swab,Feather removal machine,Positive,1,True
789,Q70,Env_0585,SRR23971454,2020-01-12,West,6,29-31-33,NaN,West|6|29-31-33,West|6|29-31-33,West|6|29-31-33,Environmental swab,Iron container in inner room,Positive,1,True

## All samples after January 12

In [77]:
## Future trips: sequenced negatives / positives
later_samples = d[~d['Sampling.date'].isin(['2020-01-01','2020-01-12'])]
print("{} Total samples after Jan 12".format(later_samples.shape[0]))
later_hsm = later_samples.query("FromHSM == True")
print("{} Total samples after Jan 12 from HSM".format(later_hsm.shape[0]))

later_hsm['Sample.type'].value_counts()

308 Total samples after Jan 12
248 Total samples after Jan 12 from HSM

Environmental swab    147
Water drain            77
Sewage                 24
Name: Sample.type, dtype: int64

## Drains

In [64]:
## Drains

drains = later_hsm.query("`Sample.type` == 'Water drain'")

drains['Sampling.date'].value_counts()

2020-01-27    38
2020-01-29    22
2020-02-09     9
2020-02-15     8
Name: Sampling.date, dtype: int64

In [57]:
## Drains trip #1
drains1 = drains[drains['Sampling.date'] == '2020-01-27']
drains1.query("`SARS.CoV.2.qPCR.result` == 'Positive'")

,Lab.code,Sample.ID,Sequencing_Run,Sampling.date,Sample_location,Street.No.,Vendor.No.,edge_case,Stall_corrected,address,Stall_corrected_merged,Sample.type,Sample.information,SARS.CoV.2.qPCR.result,Precise.location,FromHSM
71,1-27-33,Env_0660,SRR23971584,2020-01-27,West,6,29-33,NaN,West|6|29-33,West|6|29-33_drain,West|6|29-31-33,Water drain,Water drain,Positive,1,True
75,1-27-37,Env_0664,SRR23971585,2020-01-27,West,10,4,NaN,West|10|4,West|10|4_drain,West|10|4,Water drain,Water drain,Positive,1,True

In [84]:
## Drains trip #2
drains1 = drains[drains['Sampling.date'] == '2020-01-29']
drains1.query("`SARS.CoV.2.qPCR.result` == 'Positive'")

,Lab.code,Sample.ID,Sequencing_Run,Sampling.date,Sample_location,Street.No.,Vendor.No.,edge_case,Stall_corrected,address,Stall_corrected_merged,Sample.type,Sample.information,SARS.CoV.2.qPCR.result,Precise.location,FromHSM
109,1-29-4,Env_0682,SRR23971586,2020-01-29,East,4,5-7-9,NaN,East|4|5-7-9,East|4|5-7-9_drain,East|4|5-7-9,Water drain,Water drain,Positive,1,True
113,1-29-8,Env_0686,SRR23971455,2020-01-29,East,5,11,NaN,East|5|11,East|5|11_drain,East|5|11,Water drain,Water drain,Positive,1,True

In [88]:
## Drains trip #3 

drains3 = drains[drains['Sampling.date'] == '2020-02-09']
drains3.query("`SARS.CoV.2.qPCR.result` == 'Positive'")

,Lab.code,Sample.ID,Sequencing_Run,Sampling.date,Sample_location,Street.No.,Vendor.No.,edge_case,Stall_corrected,address,Stall_corrected_merged,Sample.type,Sample.information,SARS.CoV.2.qPCR.result,Precise.location,FromHSM
814,zong-1,Env_0762,NaN,2020-02-09,West,1,NaN,NaN,West|1|NA,West|1|Sw3,West|1|NA,Water drain,Water drain,Positive,1,True

In [92]:
## Drains trip #4

drains4 = drains[drains['Sampling.date'] == '2020-02-15']
drains4.query("`SARS.CoV.2.qPCR.result` == 'Positive'")

,Lab.code,Sample.ID,Sequencing_Run,Sampling.date,Sample_location,Street.No.,Vendor.No.,edge_case,Stall_corrected,address,Stall_corrected_merged,Sample.type,Sample.information,SARS.CoV.2.qPCR.result,Precise.location,FromHSM
793,w-6-29-33,Env_0828,SRR23971498,2020-02-15,West,6,29-33,NaN,West|6|29-33,West|6|29-33_drain,West|6|29-31-33,Water drain,Water drain,Positive,1,True
798,w-zong-1,Env_0829,SRR23971499,2020-02-15,West,1,NaN,NaN,West|1|NA,West|1|Sw1,West|1|NA,Water drain,Water drain,Positive,1,True

In [83]:
## All stall 6-29

drains[drains.Stall_corrected.str.contains("West\|6\|29")]

,Lab.code,Sample.ID,Sequencing_Run,Sampling.date,Sample_location,Street.No.,Vendor.No.,edge_case,Stall_corrected,address,Stall_corrected_merged,Sample.type,Sample.information,SARS.CoV.2.qPCR.result,Precise.location,FromHSM
71,1-27-33,Env_0660,SRR23971584,2020-01-27,West,6,29-33,NaN,West|6|29-33,West|6|29-33_drain,West|6|29-31-33,Water drain,Water drain,Positive,1,True
792,w-6-29-32,Env_0827,NaN,2020-02-15,West,6,29-32,NaN,West|6|29-32,West|6|29-32_drain,West|6|29-32,Water drain,Water drain,Negative,1,True
793,w-6-29-33,Env_0828,SRR23971498,2020-02-15,West,6,29-33,NaN,West|6|29-33,West|6|29-33_drain,West|6|29-31-33,Water drain,Water drain,Positive,1,True

## Sewers

In [73]:
## Warehouses

d.query("Sample_location == 'Warehouse'")[['Stall_corrected','SARS.CoV.2.qPCR.result']].value_counts()

Stall_corrected  SARS.CoV.2.qPCR.result
Warehouse|8|25   Negative                  7
                 Positive                  5
Warehouse|6|29   Negative                  2
dtype: int64

In [76]:
d.query("Sample_location == 'Warehouse'").query("`SARS.CoV.2.qPCR.result` == 'Positive'")

,Lab.code,Sample.ID,Sequencing_Run,Sampling.date,Sample_location,Street.No.,Vendor.No.,edge_case,Stall_corrected,address,Stall_corrected_merged,Sample.type,Sample.information,SARS.CoV.2.qPCR.result,Precise.location,FromHSM
29,RLC-3,Env_0868,SRR23971517,2020-02-22,Warehouse,8,25,NaN,Warehouse|8|25,Warehouse|8|25,Warehouse|8|25,Environmental swab,Storehouse bag surfaces,Positive,0,True
30,RLC-4,Env_0867,NaN,2020-02-22,Warehouse,8,25,NaN,Warehouse|8|25,Warehouse|8|25,Warehouse|8|25,Environmental swab,Storehouse bag surfaces,Positive,0,True
36,SJ-CS,Env_0863,NaN,2020-02-22,Warehouse,8,25,NaN,Warehouse|8|25,Warehouse|8|25,Warehouse|8|25,Environmental swab,Storehouse weight scale,Positive,0,True
37,SJ-D,Env_0862,SRR23971515,2020-02-22,Warehouse,8,25,NaN,Warehouse|8|25,Warehouse|8|25,Warehouse|8|25,Environmental swab,Storehouse ground,Positive,0,True
40,SJ-L3,Env_0865,SRR23971516,2020-02-22,Warehouse,8,25,NaN,Warehouse|8|25,Warehouse|8|25,Warehouse|8|25,Environmental swab,Storehouse wire fence,Positive,0,True